/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Set background and text colors for light and dark modes */
  body {
    @apply bg-light-background text-light-text dark:bg-dark-background dark:text-dark-text;
    transition-property: background-color, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
}

/* Enable smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}